{% extends 'default.html' %}
{% comment %} {% load accounts_filters %} {% endcomment %}

{% block head_title %} Страница пользователя {% endblock head_title %}

{% block content %}
<div style="text-align: center;">
    <table border="1" width="50%" cellpadding="5">
        <tr>
            <td>Ваш логин</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Имя &nbsp;</td>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <td>Адрес электронной почты</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{user.id}}</td>
        </tr>
    </table>
        <hr>
    <a href="{% url 'edit_profile' user %}">Редактировать профиль</a>
    <a href="/accounts/logout/">    Выход</a>
    <a href="/ads/">Объявления</a>
</div>
{% endblock content %}