{% extends 'default.html' %}

{% block title %}Responses{% endblock title %}

{% block content %}
    <h3>Параметры отклика</h3>    
    {{ form.media }}
    <div class="row form-error">
        <div class="column" id="content">
            <form  method="post" action='' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p  }}
                <input class="button" type="submit" value="Сохранить">
            </form>
        </div>
    </div>
    <hr>
    <a href="/ads/">Объявления</a>
{% endblock content %}